.iconposition {
  padding-bottom: 6px;
}

.iconContextheader {
  height: 2em;
  width: 2em;
  color: white;
}

/* Adapt the website for responsive devices */
@media screen and (max-width: 768px) {
  .iconContextheader {
    height: 1em;
    width: 1em;
    color: white;
  }
}
